; Create an access token going to https://github.com/settings/applications#personal-access-tokens
access_token: some-badass-token

; Your organisation name
organisation: acme

; Where your git mirror is served, needed for satis resolution
mirror_url  : http://my-git-repo-url

; Following will be put directly into the satis.conf
; A typical use for using with gitmirror would be
; satis_options :
;     name : MyName
;     homepage : http://satis-homepage
;     require-dependencies : true
;     archive :
;         directory : dist
;         format : zip
;         prefix-url : http://where-satis-puts-packages
;         skip-dev : false
;     output-dir : web

