{% extends "base.htm.twig" %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2"><div align="center"><strong>Bus Factor Ratio</strong></div></td>
            <td><div align="center"><strong>Risky files count</strong></div></td>
            <td><div align="center"><strong>Heroes</strong></div></td>
        </tr>
        </thead>
        <tbody>
            {% for item in items %}
                {% include 'directory_item.htm.twig' with item %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block legend %}
    <h4>Legend</h4>
    <p>
        Bus factor is the percentage of files that got only one "hero" commiter. Make sure heroes
        do not die.
    </p>
    <p>
        <span class="danger"><strong>Low</strong>: 0% to {{lower}}%</span>
        <span class="warning"><strong>Medium</strong>: {{lower}}% to {{higher}}%</span>
        <span class="success"><strong>High</strong>: {{higher}}% to 100%</span>
    </p>
{% endblock %}
